<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/ionicons/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700' rel='stylesheet' type='text/css'>
    <!-- Custom Styles -->
    <link href="assets/css/style.min.css" rel="stylesheet">
    <!-- favicon.ico -->
    <link rel="icon" href="assets/favicon.ico">

    <title>Sai Priyan J K</title>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Sai Priyan J K</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#menu">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#where">Where are we</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead text-center text-white">
      <div class="container">
        <div class="intro-text text-uppercase">
          <div class="intro-subheading">NAMMA SALEM </div>
          <div class="intro-heading">TRADITIONAL INDIAN CUISINE
          </div>
          <a class="btn btn-danger btn-big js-scroll-trigger" href="#about">CHECK OUT</a>
        </div>
      </div>
    </header>

    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">ROYAL CHOICE</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="ion-ios-home icon-big mb-3 sr-icons"></i>
              <h3 class="mb-3"> <br>Traditions</h3>
              <p class="text-muted mb-0">The rustic style of the furnishings creates a warm, welcoming and intimate environment. The importance of traditions remains present in us and it is nice to be able to convey it to our customers with delicious dishes.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="ion-fork icon-big mb-3 sr-icons"></i>
              <h3 class="mb-3">Home Cooking</h3>
              <p class="text-muted mb-0">The main feature is the local and regional home cooking with typical dishes, such as handmade pici with duck sauce, pappardelle with hare sauce and spelled soup.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="ion-ios-wineglass icon-big mb-3 sr-icons"></i>
              <h3 class="mb-3">Great choice
                of flavors</h3>
              <p class="text-muted mb-0">Everything is accompanied by an excellent choice of flavors .</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="ion-pizza icon-big mb-3 sr-icons"></i>
              <h3 class="mb-3">There is also
                pizza</h3>
              <p class="text-muted mb-0">Among other choices there are the cut with rosemary or mushrooms, wild boar stew and many other dishes on our menu. In the evening you can also enjoy pizza.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Menu Grid -->
    <section class="bg-light" id="menu">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Menu</h2>
            <hr class="mt-4 mb-5">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 menu-item">
            <a class="menu-link" data-toggle="modal" href="#menuModal1">
              <div class="menu-hover">
                <div class="menu-hover-content">
                  <i class="fa fa-search-plus fa-3x" aria-hidden="true"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/assets/img/menu/thumbnail/01-thumbnail.jpg" alt="Antipasto Porsenna">
            </a>
            <div class="menu-caption">
              <p class="text-muted">Antipasto Porsenna</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 menu-item">
            <a class="menu-link" data-toggle="modal" href="#menuModal2">
              <div class="menu-hover">
                <div class="menu-hover-content">
                  <i class="fa fa-search-plus fa-3x" aria-hidden="true"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/assets/img/menu/thumbnail/02-thumbnail.jpg" alt="Pizza Porsenna">
            </a>
            <div class="menu-caption">
              <p class="text-muted">Pizza Porsenna</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 menu-item">
            <a class="menu-link" data-toggle="modal" href="#menuModal3">
              <div class="menu-hover">
                <div class="menu-hover-content">
                  <i class="fa fa-search-plus fa-3x" aria-hidden="true"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/assets/img/menu/thumbnail/03-thumbnail.jpg" alt="Zuppa di farro, fagioli e ceci">
            </a>
            <div class="menu-caption">
              <p class="text-muted">Zuppa di farro, fagioli e ceci</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 menu-item">
            <a class="menu-link" data-toggle="modal" href="#menuModal4">
              <div class="menu-hover">
                <div class="menu-hover-content">
                  <i class="fa fa-search-plus fa-3x" aria-hidden="true"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/assets/img/menu/thumbnail/04-thumbnail.jpg" alt="Ravioli formaggio e pere">
            </a>
            <div class="menu-caption">
              <p class="text-muted">Ravioli formaggio e pere</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 menu-item">
            <a class="menu-link" data-toggle="modal" href="#menuModal5">
              <div class="menu-hover">
                <div class="menu-hover-content">
                  <i class="fa fa-search-plus fa-3x" aria-hidden="true"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/assets/img/menu/thumbnail/05-thumbnail.jpg" alt="Pici al ragù di anatra">
            </a>
            <div class="menu-caption">
              <p class="text-muted">Pici al ragù di anatra</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 menu-item">
            <a class="menu-link" data-toggle="modal" href="#menuModal6">
              <div class="menu-hover">
                <div class="menu-hover-content">
                  <i class="fa fa-search-plus fa-3x" aria-hidden="true"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/assets/img/menu/thumbnail/06-thumbnail.jpg" alt="Stinco di maiale">
            </a>
            <div class="menu-caption">
              <p class="text-muted">Stinco di maiale</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 menu-item">
            <a class="menu-link" data-toggle="modal" href="#menuModal7">
              <div class="menu-hover">
                <div class="menu-hover-content">
                  <i class="fa fa-search-plus fa-3x" aria-hidden="true"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/assets/img/menu/thumbnail/07-thumbnail.jpg" alt="Spezzatino di cinghiale">
            </a>
            <div class="menu-caption">
              <p class="text-muted">Spezzatino di cinghiale</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 menu-item">
            <a class="menu-link" data-toggle="modal" href="#menuModal8">
              <div class="menu-hover">
                <div class="menu-hover-content">
                  <i class="fa fa-search-plus fa-3x" aria-hidden="true"></i>
                </div>
              </div>
              <img class="img-fluid" src="static/assets/img/menu/thumbnail/08-thumbnail.jpg" alt="Cuori di carciofi">
            </a>
            <div class="menu-caption">
              <p class="text-muted">Cuori di carciofi</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Map -->
    <section id="where">
      <div class="container">
        <div class="row my-5">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">WHERE ARE WE</h2>
            <hr class="mt-4 mb-5">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div id="map">
              <script>
                function initMap() {
                  var porsenna = {lat: 11.530717, lng: 78.071430};
                  var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 18,
                    center: porsenna
                  });
                  var marker = new google.maps.Marker({
                    position: porsenna,
                    map: map,
                    animation: google.maps.Animation.BOUNCE
                  });
                }
              </script>
              <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkWIJdQU2JC2lAP7Y9Zj6tWx6h77X6V_8&callback=initMap"
              type="text/javascript"></script>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-white text-uppercase">RESERVATION</h2>
            <hr class="mt-4 mb-5">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form method="POST" action="/submit_form">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required><br>
      
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required><br>
      
              <label for="phone">Phone:</label>
              <input type="tel" id="phone" name="phone" required><br>
              <label for="date">Date:</label>
              <input type="date" id="date" name="date" required><br>
              <label for="date">Time:</label>
              <input type="time" id="time" name="time" required><br>
              <label for="message">Message:</label>
              <textarea id="message" name="message" required></textarea><br>
      
              <input type="submit" value="Submit">
          
          {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}</form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="list-inline social-buttons mb-0">
              <li class="list-inline-item">
                <a href="tel:+916374198568">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="" target="_blank">
                  <i class="fa fa-tripadvisor" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="" target="_blank">
                  <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="" target="_blank">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="" target="_blank">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-12">
            <span class="copyright">Sai Priyan J K &copy; 2023</span>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll-To-Top -->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fa fa-angle-up" aria-hidden="true"></i>
    </a>

    <!-- Menu Modals -->
    <!-- Modal 1 -->
    <div class="menu-modal modal fade" id="menuModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Menu Details -->
                  <h2 class="text-uppercase">Antipasto Porsenna</h2>
                  <img class="img-fluid d-block mx-auto" src="static/assets/img/menu/full/01-full.jpg" alt="Antipasto Porsenna">
                  <ul class="list-inline">
                    <li><span class="font-weight-bold">Categoria:</span> Antipasti</li>
                    <li><span class="font-weight-bold">Prezzo:</span> 6,50€</li>
                  </ul>
                  <p>
                    <strong>Ingredienti: </strong> Affettati, crostini, formaggio
                  </p>
                  <button class="btn btn-danger" data-dismiss="modal" type="button">
                    Close
                    <i class="fa fa-times-circle"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div class="menu-modal modal fade" id="menuModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Menu Details -->
                  <h2 class="text-uppercase">Pizza Porsenna</h2>
                  <img class="img-fluid d-block mx-auto" src="static/assets/img/menu/full/02-full.jpg" alt="Pizza Porsenna">
                  <ul class="list-inline">
                    <li><span class="font-weight-bold">Categoria:</span> Pizza</li>
                    <li><span class="font-weight-bold">Prezzo:</span> 6,00€</li>
                  </ul>
                  <p>
                    <strong>Ingredienti: </strong> Pomodoro fresco, rucola, Parmigiano, Mozzarella
                  </p>
                  <button class="btn btn-danger" data-dismiss="modal" type="button">
                    Close
                    <i class="fa fa-times-circle"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="menu-modal modal fade" id="menuModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Menu Details -->
                  <h2 class="text-uppercase">Zuppa di farro, fagioli e ceci</h2>
                  <img class="img-fluid d-block mx-auto" src="static/assets/img/menu/full/03-full.jpg" alt="Zuppa di farro, fagioli e ceci">
                  <ul class="list-inline">
                    <li><span class="font-weight-bold">Categoria:</span> Primi</li>
                    <li><span class="font-weight-bold">Prezzo:</span> 6,00€</li>
                  </ul>
                  <p>
                    <strong>Ingredienti: </strong> Farro, beans and chickpeas soup
                  </p>
                  <button class="btn btn-danger" data-dismiss="modal" type="button">
                    Close
                    <i class="fa fa-times-circle"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div class="menu-modal modal fade" id="menuModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Menu Details -->
                  <h2 class="text-uppercase">Ravioli formaggio e pere</h2>
                  <img class="img-fluid d-block mx-auto" src="static/assets/img/menu/full/04-full.jpg" alt="Ravioli formaggio e pere">
                  <ul class="list-inline">
                    <li><span class="font-weight-bold">Categoria:</span> Primi</li>
                    <li><span class="font-weight-bold">Prezzo:</span> 7,00€</li>
                  </ul>
                  <p>
                    <strong>Ingredienti: </strong> Ravioli ripieni con formaggio e pere
                  </p>
                  <button class="btn btn-danger" data-dismiss="modal" type="button">
                    Close
                    <i class="fa fa-times-circle"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 5 -->
    <div class="menu-modal modal fade" id="menuModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Menu Details -->
                  <h2 class="text-uppercase">Pici al ragù di anatra</h2>
                  <img class="img-fluid d-block mx-auto" src="static/assets/img/menu/full/05-full.jpg" alt="Pici al ragù di anatra">
                  <ul class="list-inline">
                    <li><span class="font-weight-bold">Categoria:</span> Primi</li>
                    <li><span class="font-weight-bold">Prezzo:</span> 7,00€</li>
                  </ul>
                  <p>
                    <strong>Ingredienti: </strong> Pici Fatti a Mano al Ragù d’Anatra
                  </p>
                  <button class="btn btn-danger" data-dismiss="modal" type="button">
                    Close
                    <i class="fa fa-times-circle"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 6 -->
    <div class="menu-modal modal fade" id="menuModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Menu Details -->
                  <h2 class="text-uppercase">Stinco di maiale</h2>
                  <img class="img-fluid d-block mx-auto" src="static/assets/img/menu/full/06-full.jpg" alt="Stinco di maiale">
                  <ul class="list-inline">
                    <li><span class="font-weight-bold">Categoria:</span> Secondi</li>
                    <li><span class="font-weight-bold">Prezzo:</span> 6,50€</li>
                  </ul>
                  <p>
                    <strong>Ingredienti: </strong> Stinco di Maiale Arrosto
                  </p>
                  <button class="btn btn-danger" data-dismiss="modal" type="button">
                    Close
                    <i class="fa fa-times-circle"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 7 -->
    <div class="menu-modal modal fade" id="menuModal7" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Menu Details -->
                  <h2 class="text-uppercase">Spezzatino di cinghiale</h2>
                  <img class="img-fluid d-block mx-auto" src="static/assets/img/menu/full/07-full.jpg" alt="Spezzatino di cinghiale">
                  <ul class="list-inline">
                    <li><span class="font-weight-bold">Categoria:</span> Secondi</li>
                    <li><span class="font-weight-bold">Prezzo:</span> 7,50€</li>
                  </ul>
                  <p>
                    <strong>Ingredienti: </strong> Spezzatino di Cinghiale al Vino Bianco
                  </p>
                  <button class="btn btn-danger" data-dismiss="modal" type="button">
                    Close
                    <i class="fa fa-times-circle"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 8 -->
    <div class="menu-modal modal fade" id="menuModal8" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Menu Details -->
                  <h2 class="text-uppercase">Cuori di carciofi</h2>
                  <img class="img-fluid d-block mx-auto" src="static/assets/img/menu/full/08-full.jpg" alt="Cuori di carciofi">
                  <ul class="list-inline">
                    <li><span class="font-weight-bold">Categoria:</span> Contorni</li>
                    <li><span class="font-weight-bold">Prezzo:</span> 3,00€</li>
                  </ul>
                  <p>
                    <strong>Ingredienti: </strong> Cuori di Carciofi in Padella
                  </p>
                  <button class="btn btn-danger" data-dismiss="modal" type="button">
                    Close
                    <i class="fa fa-times-circle"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/jqBootstrapValidation/jqBootstrapValidation.min.js"></script>
    <!-- Custom Scripts -->
    <script src="assets/js/contact.min.js"></script>
    <script src="assets/js/script.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/ionicons/css/ionicons.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.min.css') }}">

<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/scrollreveal/scrollreveal.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jqBootstrapValidation/jqBootstrapValidation.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/contact.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/script.min.js') }}"></script>

<script src="{{ url_for('static', filename='assets/img/full') }}"></script>
<script src="{{ url_for('static', filename='assets/img/thumbnail') }}"></script>

<style>/* Style for the form container */
  form {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
  }
  
  /* Style for labels */
  label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
  }
  
  /* Style for input fields and textarea */
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
  }
  
  /* Style for the submit button */
  input[type="submit"] {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
      background-color: #0056b3;
  }
  
  /* Style for form validation messages */
  ul {
      list-style: none;
      padding: 0;
  }
  
  li {
      margin-bottom: 5px;
  }
  
  /* Style for success message */
  li.success {
      color: green;
  }
  
  /* Style for error message */
  li.error {
      color: red;
  }
  </style>
  </body>
</html> -->
